*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    font-weight: 500px;
}

header{
    background-color: #051d2b;
    color: #b0b0b0;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    width: 100%;
}

header a {
    color: #b0b0b0;
    text-decoration: none;
}

header a > span {
    color:#0f0;
}

header > div{
    display: flex;
}

header > div > div{
    padding: 10px;
    width: 50%;
}

header > div > div:last-child{
    display: flex;
    justify-content: end;
}

header ul {
    list-style-type: none;
    display: flex;
}

header ul li{
    margin: 0 10px;
}

.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.top-pannel{
    width: 100%;
}

.top-pannel > div{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: inline-block;
}

.logo > img{
    height: 50px;
    margin: auto;
}

.top-pannel ul{
    display: flex;
}

.top-pannel ul li{
    padding: 10px;
}

.menu-big{
    display: block;
}

.logo-parent{
    display: flex;
    justify-content: left;
    width: 100%;
}

.main{
    background-color: #061d2b;
}

.main > div{
    padding: 20px;
    display: flex;
}

.main > div > div{
    padding: 10px;
}

.main-element{
    width: 50%;
}


.title{
    color: #fff;
    font-weight: bold;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.title + p {
    color: #fff;
    margin-bottom: 1.5rem;
}

.main-widget{
    color: #108dcf;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

.link-button{
    text-decoration: none;
}

.primary{
    font-weight: 600;
    font-style: normal;
    color: #fff;
    background-color: #95ca33;
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    width: fit-content;
    transition: transform 0.5s;
}

.primary:hover{
    transform: scale(.9) ;
}

.mb-1{
    margin-bottom: 1.5rem;
}

.customer{
    padding: 10px;
}

.details{
    text-align: center;
    padding: 20px;
}

.details > h1 {
    margin-bottom: 1.5rem;
}

.detailsHead{
    font-size: 40px;
}

.detailsHead + p{
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.all-details{
    display: flex;
}

.all-details-body-1{
    width: 40%;
    padding: 20px;
}

.all-details-body-1 p{
    margin-bottom: 1.2rem;
}

.font-weight-bold{
    font-weight: 700;
}

.all-details-body-2{
    width: 60%;
}

.all-details-body-img{
    width: 100%;
}

.bussiness-points{
    padding: 10px;
    width: 40%;
}

.bussiness-points img{
    height: 50px;
    width: 50px;
    margin-bottom: 1.2rem;
}

.bussiness-points p{
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.person-bussiness-details{
    background-color: #1064e6;
    padding: 40px;
}

.person-bussiness-details img{
    margin-bottom: 1rem;
    height: 60px;
}

.person-bussiness-details h3{
    color: #fff;
    margin-bottom: 1.5rem;
}

.person-bussiness-details a{
    text-decoration: none;
    font-weight: 700;
    color: #95ca33;
    font-size: 20px;
}

.elememt-divider{
    margin: 5rem 0;
}

.divider{
    border-top: 1px solid #b3b3b3;
}

.all-details-body-2:last-child{
    display: flex;
    justify-content: end;
    align-items: center;
}

.all-details-body-2:nth-child(1){
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1.5rem;
}

.all-details-body-img1{
    width: 90%;
}

.all-details-body-img2{
    width: 70%;
}

.menu-item{
    cursor: pointer;
}

.menu-item:hover > .dropdown{
    display: block;
    width: auto;
}

.dropdown{
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    display: none;
    width: 0;
    transition: width 2s;
}

.dropdown-menu{
    display: flex;
    flex-direction: column;
}

.dropdown-menu-item{
    padding: 10px 15px;
}

.dropdown-menu-link{
    text-decoration: none;
    color: #051d2b;
}

.dropdown-menu-link:hover{
    color: blue;
}

.menu-item > span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item > span > i{
    font-size: 10px;
    padding: 5px;
}

#mob-menu{
    display: none;
    font-size: 24px;
    background: transparent;
    border: none;
}

.logo-parent-mob{
    width: 100%;
    display: flex;
}

.show{
    display: block !important;
}

.call-message{
    position: fixed;
    right: 0;
    bottom: 0;
}

.call{
    display: block;
    position: relative;
    width: 70px;
    height: 70px;
    transition: all .25s ease-in-out;
    background-color: #3F51B5 ;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    z-index: 999;
    margin: 15px;
}

.conntcted-commerce-parent{
    background-color: #052999;
    text-align: center;
    padding: 25px;
    margin: 30px 0;
}

.conntcted-commerce{
    color: #fff;
}

.conntcted-commerce h1{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.conntcted-commerce-subtitle{
    margin-bottom: 2rem;
}

.conntcted-commerce-button, .card-bg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conntcted-commerce-button > a{
    margin: 15px;
}

.card {
    padding: 30px;
    margin: 20px;
    color: #fff;
}

.card-black{
    background-color: #031b29;
}

.card-light-border{
    border: 2px solid #3c4559;
    border-radius: 5px;
}

.card-img{
    margin-bottom: 1.5rem;
}

.card-header{
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.customer-saying{
    margin: 30px 0;
}

.customer-saying h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.tab{
    display: flex;
}

.tab-header{
    border-radius: 5px;
    padding: 0.375rem 4rem;
}

.tab-header img{
    height: 80px;
}

.tab-active{
    background-image: linear-gradient(180deg,#6d68fe 0%,#b446ff 100%);
    box-shadow: 0px 18px 50px -5px rgb(52 82 255 / 30%);
}

.tab-header:hover{
    background-image: linear-gradient(180deg,#6d68fe 0%,#b446ff 100%);
    box-shadow: 0px 18px 50px -5px rgb(52 82 255 / 30%);
}

.tab-body{
    margin: 30px 0;
}

.tab-details{
    display: flex;
}

.tab-details-body-1{
    width: 35%;
}

.tab-details-body-1 h1{
    text-align: left;
    font-weight: 500;
}

.tab-details-body-2{
    width: 65%;
    display: flex;
    justify-content: center;
}

.tab-details-body-2 img{
    width: 400px;
    height: 400px;
}

.read-more{
    padding: 20px 0;
}

.read-more a{
    color: blue;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

.read-more a span{
    margin-right: 1rem;
}

@media screen and (max-width: 480px) {
    header > div, .main > div, .all-details, .top-pannel > div, .menu-big > ul, .conntcted-commerce-button, .card-bg{
        flex-direction: column;
    }
    header > div > div{
        width: 100%;
    }
    header > div > div:first-child{
        text-align: center;
    }
    header > div > div:last-child{
        justify-content: center;
    }
    .menu-big{
        display: none;
    }
    .logo-parent{
        justify-content: center;
    }
    .main-element{
        width: 100%;
    }
    .title{
        font-size: 40px;
    }
    .detailsHead, .conntcted-commerce h1{
        font-size: 30px;
        line-height: 1;
    }
    .customer{
        padding: 0;
    }
    .all-details-body-1{
        width: 100%;
    }
    .all-details-body-2{
        width: 100%;
    }
    .bussiness-points{
        width: 100%;
        text-align: center;
    }
    .elememt-divider{
        margin-top: 1rem;
    }
    .all-details-body-2:last-child, .all-details-body-2:nth-child(1){
        justify-content: center;
    }
    #mob-menu{
        display: block;
    }
    .menu-item > span{
        justify-content: flex-start;
    }
    .dropdown{
        position: relative;
        box-shadow: none;
    }

    .customer-saying{
        display: none;
    }
  }
